{% comment %}
<p>
  {{ section.settings.text-box }}
</p>
<p>{{ 'liale.top.about' | t }}</p>

ppp
aa
{% for tag in blog.all_tags %}
    {{ tag }}
{% endfor %}

<!-- 
pp
{% for article in blog.articles limit: 3%}
<li>・・・</li>
{% endfor %} 





<div style="background: #fff;">

</div>

    {% for product in all_products limit: 4%}

      {{ product.title }}<br>
      {{ product.url }}<br><br>

    {% endfor %}



{% for collection in collections %}
    {% for product in collection.products limit: 4%}

      {{ product.title }}<br>
      {{ product.url }}<br><br>

    {% endfor %}
{% endfor %} 
-->

{% endcomment %}
  


{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": {
        "ja": "aaセクションにコンテンツを追加するには、HTMLとLiquidタグをファイルの一番上に記述します。Liquidタグはスキーマで定義することができ、テーマエディターでのカスタマイズが可能になります。スキーマ設定に追加できるさまざまな値については、開発者向けドキュメントに詳細があります。" ,
        "en": "aaaaa" 
      }
    }
  ]
}
{% endschema %}