<!-- https://artscope-dev.myshopify.com/?_ab=0&_fd=0&_sc=1&key=c700f1326e8330c9d5d9e84d58e910bfdf9f149c6aee3cc267c58aec32e71812  -->
<!-- <div class="p-hero">
  {{ 'img_hero_1.png' | asset_url | img_tag }}
</div> -->
<div class="slider p-hero">
  <div><img src="{{ 'img_front_hero_1.png' | asset_url }}" alt="img01"></div>
  <div><img src="{{ 'img_front_hero_2.png' | asset_url }}" alt="img02"></div>
  <div><img src="{{ 'img_front_hero_3.png' | asset_url }}" alt="img03"></div>
  <!-- <div><img src="https://cdn.shopify.com/s/files/1/0522/6964/5974/articles/hero_1_large.png?v=1609048567" alt="img02"></div> -->
</div>

<div class="p-front-articles">
  <div class="page-width">
    <h2 class="p-front-articles__heading">JOURNAL</h2>
    {% for article in blogs.journal.articles %}
      {% if forloop.first == true %}
      <div class="c-grid">
      <a href="{{article.url}}"></a>
        <div class="c-grid_item ">   


          <div class="p-front-articles__article p-front-articles__article__first u-linkbox">

            <img src="{{ article.image | img_url: "original" }}"/>
            <div class="p-front-articles__article__box">
              <h3>{{ article.title}}</h3>
              <p>{{article.published_at | date: "%Y.%-m.%-d" }}</p>
            </div>
            <a href="{{article.url}}"></a>
          </div>
          <div class="u-clearfix"></div>
        </div>

      </div>
        <div class="c-grid">
      {% else %}

        <div class="c-grid_item c-grid_item__m__3"> 

          <div class="p-front-articles__article p-front-articles__article__not-first u-linkbox">

            <img src="{{ article.image | img_url: "original" }}"/>
            <div class="p-front-articles__article__box">
              <h3>{{ article.title }}</h3>
              <p>{{article.published_at | date: "%Y.%-m.%-d" }}</p>
            </div>
            <a href="{{article.url}}"></a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
      </div>
    <div class="u-clearfix"></div>

      <a class="c-ghost-button c-ghost-button--white" href="{{ blogs.journal.url }}">VIEW MORE&nbsp;&nbsp;></a>
  </div>
</div>

<div class="p-front-products">
  <div class="page-width">
  <h2 class="p-front-products__heading">STORE</h2>
  <div class="c-grid p-front-products__grid">
    {% for product in collections.all.products limit: 4 %}
      <div class="c-grid_item c-grid_item__m__4 p-front-products__item"> 
        <div class="p-front-products__product u-linkbox">
          <div class="p-front-products__product__image-wrapper">
          <img src="{{ product.featured_image | img_url:  'original', crop: 'center'}}"/>
          
        </div>

          <h3>{{ product.title }}</h3>
        <span>{{ product.price | money }}</span>
        <a href="{{product.url}}"></a>
        </div>
      </div>
    {% endfor %}
  </div>  
  <div class="u-clearfix"></div>
    <a class="c-ghost-button" href="{{ collections.all.url }}">VIEW MORE&nbsp;&nbsp;></a>
  </div>
</div>



<img src="{{ 'img_top_under.png' | asset_url }}" class="p-front_under_image">

{% comment %}
<!-- {%  section '0-custom-index-section' %} -->
{% endcomment %}
<style>
  .p-hero {
    margin-right: -75px;
  }
  .p-hero img {
  vertical-align: bottom;
    margin:0;
    padding:0;
    width: calc(100% + 75px);
    /* height:100%; */

    height:500px;
    object-fit: cover; 
  }

  @media (min-width: 768px) {
    .p-hero img {
    height:880px;
    }
  }
  
  .p-front-articles {
    background:#181818,;
    padding-bottom:40px;
    /* padding:40px 0;  */
  }
  .p-front-articles  .p-front-articles__heading {
    font-size:30px;
    text-align: center;
    color: #FFFFFF;
    padding:80px 0 60px;
    
  }


  

  .p-front-products {
    background:#fff;
    /* margin-bottom:20px; */
    /* padding:40px 0;  */
    padding-bottom:40px;
  }



  .p-front-products .p-front-products__heading {
    text-align: center;
    font-size:30px;
    padding:80px 0 60px;
  }

  @media (max-width: 767px) {
    .p-front-products__grid{
      width:100%;
      overflow-x: auto;
        white-space: nowrap;
        /* -webkit-overflow-scrolling: touch; */
        display:inline-block;
        overflow-x:scroll;

    }

    .p-front-products .p-front-products__item{
      width:45%;
      display: inline-block;
      vertical-align: top;
    }
  }
  .p-front-articles__article.p-front-articles__article__first {
    width:100%;
    float:left;
    /* margin-bottom:60px; */
  }
  .p-front-articles__article.p-front-articles__article__first > img {
    width:100%;
    height: 40vw;
    object-fit: cover;
    margin:0;
  }

  .p-front-articles__article.p-front-articles__article__not-first {
    width:100%;
    float:left;
    display: block;
    position: relative;
  }

  .p-front-articles__article .p-front-articles__article__box {
    width:80%;
    margin: 0 auto;
    /* position:relative; */
    margin-top: -100px;
    right:10px;
    /* height:30px; */
    /* background:#fff;   */
    background:rgba(255,255,255,0.9);
    padding:20px;

    float:right; 
    /* z-index:10; */
    /* display: inline-block; */

    position: relative;
  }

  .p-front-articles__article .p-front-articles__article__box h3 {
    font-size:20px;
  }

  .p-front-articles__article.p-front-articles__article__not-first  img {
    width:100%;
    height: 30vw;
    object-fit: cover;
    font-family: ‘object-fit: cover;’; /*  【js】 IE対策  */

    margin:0;
  }

  @media (max-width: 768px) {

    .p-front-articles__article.p-front-articles__article__first > img {
      height:300px; 
    }
    .p-front-articles__article.p-front-articles__article__not-first > img {
      height:300px; 
    }
    .p-front-articles__article .p-front-articles__article__box h3 {
      font-size:15px;
    }
  }

  


  .p-front-products .p-front-products__product__image-wrapper {
    /* サイズがバラバラな画像をレスポンシブで縦横比を揃えて表示させる - Qiita https://qiita.com/becolomochi/items/265a7f940a1c809f5ba7 */
    position: relative;
    overflow: hidden;
    padding-top: 140%; /* 比率 */
  }

  .p-front-products__product h3 {
    font-size:15px;

  }
  .p-front-products__product,   .p-front-products__product h3 {
    font-family: Hiragino Kaku Gothic;

  }
  .p-front-products .p-front-products__product h3 {
    margin-top:10px;
    white-space:normal;
    font-size:15px;
  }

  .p-front-products .p-front-products__product  img {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;

    /* width: 100%;
    /* height: 400px;  */
/* height: calc(100%*0.4);
    object-fit: cover;  */ 
}

.p-front_under_image {
  width:100%;
  vertical-align: bottom;
}


</style>