<div>
  <img src="{{ 'img_about_cover.png' | asset_url }}"/ style="width:100%;">
</div>
<div class="page-width">
  <div class="p-about">
    <div class="c-grid">
      <div class="c-grid_item c-grid_item__m__2">
        <div class="p-about__logo_area">
          <div class="p-about__logo_area__inner">
           <img src="{{ 'img_logo.png' | asset_url }}""/>
          </div>
        </div>
      </div>
      <div class="c-grid_item c-grid_item__m__2">
          {{page.content}}
      </div>
    </div>
    <div class="p-about__company_information">
      <table class="">
        <tr>
          <th>{{ 'liale.about.corporate_name_header' | t }}</th>
          <td>{{ 'liale.about.corporate_name_data' | t }}</td>
        </tr>
        <tr>
          <th>{{ 'liale.about.established_header' | t }}</th>
          <td>{{ 'liale.about.established_data' | t }}</td>
        </tr>
        <tr>
          <th>{{ 'liale.about.corporate_hadquarters_header' | t }}</th>
          <td>{{ 'liale.about.corporate_hadquarters_data' | t }}</td>
        </tr>
        <tr>
          <th>{{ 'liale.about.representative_header' | t }}</th>
          <td>{{ 'liale.about.representative_data' | t }}</td>
        </tr>
      </table>      
    </div>
  </div>
</div>

